<div class="content">
	<div>
		<h2>{{activeForm === 'login' ? 'Вхід' : 'Реєстрація'}}</h2>
		<h4>Введіть ваші дані для подальшої роботи</h4>
	</div>

	<div *ngIf="activeForm === 'login'" class="login-form">
		<label>
			Email
			<input [(ngModel)]="user.email" type="email" />
		</label>

		<label>
			Пароль
			<input [(ngModel)]="user.password" type="password" />
		</label>

		<button [disabled]="isLoginButtonDisabled" (click)="login()">
			Увійти
		</button>

		<div>
			<span (click)="activeForm = 'sign'"
				>Немає акаунта, зареєструватись</span
			>
			<span>Забув пароль</span>
		</div>
	</div>

	<div *ngIf="activeForm === 'sign'" class="sign-form">
		<label>
			Email
			<input [(ngModel)]="user.email" type="email" />
		</label>

		<label>
			Пароль
			<input [(ngModel)]="user.password" type="password" />
		</label>

		<label>
			Повторіть пароль
			<input [(ngModel)]="user.passwordCheck" type="password" />
		</label>

		<button [disabled]="isSignButtonDisabled" (click)="signup()">
			Зареєструватись
		</button>

		<div>
			<span (click)="activeForm = 'login'">Вже є аккаунт, увійти</span>
			<span>Забув пароль</span>
		</div>
	</div>
</div>
