<div class="wrapper">
	<div class="main__top">
		<div class="specialities main__specialities">
			<div
				*ngFor="let speciality of config.specialities"
				class="main__specialities-item"
				[class.active]="selectedSpeciality === speciality"
				(click)="selectSpeciality(speciality)"
			>
				{{speciality}}
			</div>
		</div>

		<div class="main__find">
			<img src="assets/icons/find.svg" alt="" />
			<input [(ngModel)]="search" type="text" placeholder="Пошук..." />
		</div>
	</div>

	<div class="list">
		<div
			[routerLink]="'/user/profile/' + user._id"
			class="list__wrap"
			*ngFor="let user of us.users | search: search | search: selectedSpeciality: ['speciality']"
		>
			<div class="list__img">
				<img [src]="user.avatar" alt="" />
			</div>

			<div class="list__info">
				<div class="list__info-wrap">
					<div class="list__info-img">
						<img src="assets/icons/user.svg" alt="" />
					</div>
					<div class="list__info-text">{{user.fullName}}</div>
				</div>

				<div class="list__info-wrap">
					<div class="list__info-img">
						<img src="assets/icons/phone.svg" alt="" />
					</div>
					<div class="list__info-text">{{user.phone}}</div>
				</div>

				<div class="list__info-wrap">
					<div class="list__info-img">
						<img src="assets/icons/loc.svg" alt="" />
					</div>
					<div class="list__info-text">
						{{user.city}}, {{user.address}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
