<div class="content">
	<div>
		<div class="file-upload">
			<input
				type="file"
				id="uploadAvatar"
				class="file-input"
				(change)="onFileUpload($event, 'avatar')"
				accept="image/*"
			/>
			<label for="uploadAvatar" class="file-label">
				<span class="file-icon">+</span>
				<span class="file-text">Upload Picture</span>
			</label>
			<img
				*ngIf="user.avatar"
				[src]="user.avatar"
				alt="Preview"
				class="preview-image"
			/>
		</div>

		<div class="file-upload">
			<input
				type="file"
				id="uploadDocument"
				class="file-input"
				(change)="onFileUpload($event, 'document')"
				accept="image/*"
			/>
			<label for="uploadDocument" class="file-label">
				<span class="file-icon">+</span>
				<span class="file-text">Upload Picture</span>
			</label>
			<img
				*ngIf="user.document"
				[src]="user.document"
				alt="Preview"
				class="preview-image"
			/>
		</div>
	</div>

	<div>
		<label>
			ПІБ
			<input type="text" [(ngModel)]="user.fullName" />
		</label>

		<label>
			<phone label="Номер телефону" [(phone)]="user.phone"></phone>
		</label>

		<label>
			Місто
			<input type="text" [(ngModel)]="user.city" />
		</label>

		<label>
			Адреса
			<input type="text" [(ngModel)]="user.address" />
		</label>

		<label>
			Спеціалізація
			<select [(ngModel)]="user.speciality">
				<option [value]="undefined">Не вибрано</option>
				<option
					*ngFor="let speciality of config.specialities"
					[value]="speciality"
				>
					{{speciality}}
				</option>
			</select>
		</label>

		<label>
			Дата народження
			<input type="date" [(ngModel)]="user.birthday" />
			<!-- <date-picker
				[date]="user.birthday || ''"
				(dateChange)="user.birthday = $even
			></date-picker> -->
		</label>

		<div>
			<button (click)="us.logout()">logout</button>
			<button [disabled]="isUserHasChanges" (click)="updateUser()">
				save
			</button>
		</div>
	</div>
</div>
