.file-upload {
	position: relative;
	display: inline-block;
}

.file-input {
	display: none;
}

.file-label {
	cursor: pointer;
	width: 115px;
	height: 153.655px;
	border-radius: 16px;
	background: rgba(87, 79, 79, 0.7);
	backdrop-filter: blur(2px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.file-icon {
	font-size: 30px;
	margin-bottom: 5px;
}

.file-text {
	font-weight: bold;
	text-align: center;
}

.file-name {
	display: block;
	margin-top: 10px;
}

.file-delete {
	position: absolute;
	z-index: 99;
	left: -5px;
	top: -5px;
}
.file-change {
	position: absolute;
	z-index: 99;
	right: -5px;
	top: -5px;
}
.preview-image {
	display: block;
	width: 115px;
	height: 153.655px;
	margin-top: 10px;
	border-radius: 16px;
	object-fit: cover;
	position: absolute;
	top: -10px;
}

.your-photo-text {
	display: block;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}

.profile {
	&__photos {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
	}
	&__info {
		padding-top: 50px;
		.label {
			display: block;
			margin-bottom: 15px;
			input {
				margin-top: 5px;
				svg {
					fill: #fff;
					path {
						fill: #fff;
					}
				}
				i {
					color: #fff;
				}
			}
			select {
				margin-top: 5px;
				display: block;
				width: 100%;
				border-radius: 120px !important;
				background: rgba(87, 79, 79, 0.7) !important;
				color: #fff !important;
				font-family: Montserrat !important;
				font-size: 16px !important;
				font-style: normal;
				font-weight: 400;
				padding: 15px !important;
			}
		}
	}
	&__btns {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		.btn {
			width: 150px;
		}
	}
}

._disabled {
	background: rgba(87, 79, 79, 0.5) !important;
}
