<div class="wrapper">
	<div class="profile-wrap">
		<div class="profile__photos">
			<div class="file-upload">
				<input
					[disabled]="us.user._id !== user._id"
					type="file"
					id="uploadAvatar"
					class="file-input"
					(change)="onFileUpload($event, 'avatar')"
					accept="image/*"
					#avatarUpload
				/>
				<div
					*ngIf="us.user._id === user._id && user.avatar"
					class="file-delete"
					(click)="deleteFile('avatar')"
				>
					<svg
						width="20"
						height="20"
						viewBox="0 0 20 20"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M19.4494 16.7994L12.65 10L19.4494 3.20057C20.1835 2.46648 20.1835 1.28465 19.4494 0.550566C18.7153 -0.183522 17.5335 -0.183522 16.7994 0.550566L10 7.34999L3.20057 0.550566C2.46648 -0.183522 1.28465 -0.183522 0.550566 0.550566C-0.183522 1.28465 -0.183522 2.46648 0.550566 3.20057L7.34999 10L0.550566 16.7994C-0.183522 17.5335 -0.183522 18.7153 0.550566 19.4494C1.28465 20.1835 2.46648 20.1835 3.20057 19.4494L10 12.65L16.7994 19.4494C17.5335 20.1835 18.7153 20.1835 19.4494 19.4494C20.1783 18.7153 20.1783 17.5283 19.4494 16.7994Z"
							fill="white"
						/>
					</svg>
				</div>
				<label for="uploadAvatar" class="file-label">
					<span class="file-icon"
						><img src="assets/icons/photo.svg" alt=""
					/></span>
					<span *ngIf="!user.avatar" class="file-text"
						>Ваше фото</span
					>
				</label>
				<img
					(click)="avatarUpload.click()"
					*ngIf="user.avatar"
					[src]="user.avatar"
					alt="Preview"
					class="preview-image"
				/>
			</div>

			<div class="file-upload">
				<input
					[disabled]="us.user._id !== user._id"
					type="file"
					id="uploadDocument"
					class="file-input"
					(change)="onFileUpload($event, 'document')"
					accept="image/*"
					#documentUpload
				/>
				<div
					*ngIf="us.user._id === user._id && user.document"
					(click)="deleteFile('document')"
					class="file-delete"
				>
					<svg
						width="20"
						height="20"
						viewBox="0 0 20 20"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M19.4494 16.7994L12.65 10L19.4494 3.20057C20.1835 2.46648 20.1835 1.28465 19.4494 0.550566C18.7153 -0.183522 17.5335 -0.183522 16.7994 0.550566L10 7.34999L3.20057 0.550566C2.46648 -0.183522 1.28465 -0.183522 0.550566 0.550566C-0.183522 1.28465 -0.183522 2.46648 0.550566 3.20057L7.34999 10L0.550566 16.7994C-0.183522 17.5335 -0.183522 18.7153 0.550566 19.4494C1.28465 20.1835 2.46648 20.1835 3.20057 19.4494L10 12.65L16.7994 19.4494C17.5335 20.1835 18.7153 20.1835 19.4494 19.4494C20.1783 18.7153 20.1783 17.5283 19.4494 16.7994Z"
							fill="white"
						/>
					</svg>
				</div>
				<label for="uploadDocument" class="file-label">
					<span class="file-icon"
						><img src="assets/icons/photo.svg" alt=""
					/></span>
					<span *ngIf="!user.document" class="file-text"
						>Ваші документи</span
					>
				</label>
				<img
					*ngIf="user.document"
					[src]="user.document"
					alt="Preview"
					class="preview-image"
					(click)="documentUpload.click()"
				/>
			</div>
		</div>

		<div class="profile__info">
			<label class="label">
				ПІБ
				<input
					[disabled]="isUserCanEdit"
					[class._disabled]="isUserCanEdit"
					type="text"
					[(ngModel)]="user.fullName"
				/>
			</label>

			<label class="label">
				<phone
					[disabled]="isUserCanEdit"
					label="Номер телефону"
					[(phone)]="user.phone"
				></phone>
			</label>

			<label class="label">
				Місто
				<input
					[disabled]="isUserCanEdit"
					[class._disabled]="isUserCanEdit"
					type="text"
					[(ngModel)]="user.city"
				/>
			</label>

			<label class="label">
				Адреса
				<input
					[disabled]="isUserCanEdit"
					[class._disabled]="isUserCanEdit"
					type="text"
					[(ngModel)]="user.address"
				/>
			</label>

			<label class="label">
				Спеціалізація
				<select
					[disabled]="isUserCanEdit"
					[class._disabled]="isUserCanEdit"
					[(ngModel)]="user.speciality"
				>
					<option [value]="undefined">Не вибрано</option>
					<option
						*ngFor="let speciality of config.specialities"
						[value]="speciality"
					>
						{{speciality}}
					</option>
				</select>
			</label>

			<label class="label">
				Дата народження
				<input
					[disabled]="isUserCanEdit"
					[class._disabled]="isUserCanEdit"
					type="date"
					[(ngModel)]="user.birthday"
				/>
				<!-- <date-picker
					[date]="user.birthday || ''"
					(dateChange)="user.birthday = $even
				></date-picker> -->
			</label>

			<div *ngIf="us.user._id === user._id" class="profile__btns">
				<div *ngIf="us.user._id === user._id" class="profile__logout">
					<button (click)="us.logout()" class="btn">Logout</button>
				</div>

				<div *ngIf="us.user._id === user._id" class="profile__logout">
					<button
						[disabled]="isUserHasChanges"
						(click)="updateUser()"
						class="btn"
					>
						Save
					</button>
				</div>
			</div>

			<div *ngIf="us.user.admin && us.user._id !== user._id">
				<button
					*ngIf="!isEditingEnabled"
					(click)="startEditing()"
					class="btn"
				>
					Edit
				</button>
				<button
					*ngIf="isEditingEnabled"
					(click)="cancelEditing()"
					class="btn"
				>
					Cancel
				</button>
				<button
					*ngIf="isEditingEnabled"
					(click)="updateUser()"
					class="btn"
				>
					Save
				</button>
			</div>
		</div>
	</div>
</div>
